.cuisine-cards-wrapper {
    width: 100vw;
    margin: 10px;
}

.cuisine_cards_container{
display: flex;
overflow-x: scroll;
}


.restaurant-cards-wrapper {
    width: 100vw;
    margin: 10px;
}

.restaurant_card_container {
    display: flex;
    overflow-x: scroll;
}