 .background_profile {
background-image: url("https://media-cdn.tripadvisor.com/media/photo-s/0a/e0/d7/2c/balcony.jpg");
width: 375px;
height: 300;
background-image: cover;
background-position: top;
 }
 .profile-avatar {
 position: relative;
 	width: 200px;
 	height: 200px;
 	border-radius: 50%;
    margin: 0 auto;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;  
    top: 100px;
}

 .user_name{
 	color: #342E37;
 	font-size: 20px;
    font-style: bold;
    font-family: dosis;
    text-align: center;
    margin-top: 10px
 }
 .user_cuisine{
 	text-align: center;
 	font-family: dosis;
 	font-size: 20px
 }
 .user_bio {
 	font-size: 20px;
 	font-family: dosis;
  width: 352px;
  margin: 0 auto;
 }
  p{
   color: #8a8a8a;
   font-weight: normal;
  }
 .favorite_rest {
 	font-family: dosis;
 	font-size: 20px;
 }
