 .background_profile {
background-image: url(https://media.restomontreal.ca/blog/Square/809_2018-09-25-1460_news.jpg);
height: 300;
background-size: cover;
background-position: top;
 }
 .profile-avatar {
 position: relative;
 	width: 200px;
 	height: 200px;
 	border-radius: 50%;
    margin: 0 auto;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;  
    top: 100px;
    background-image: cover;
    
}

 .user_name{
 	color: #342E37;
 	font-size: 20px;
    font-style: bold;
    font-family: dosis;
    text-align: center;
    margin-top: 10px
 }
 .user_cuisine{
 	text-align: center;
 	font-family: dosis;
 	font-size: 20px
 }
 .user_bio {
 	font-size: 20px;
 	font-family: dosis;
  width: 352px;
  margin: 0 auto;
 }
  p{
   color: #8a8a8a;
   font-weight: normal;
  }
 .favorite_rest {
 	font-family: dosis;
 	font-size: 20px;
 }
.cuisine_cards_container_1 {
  // overflow: hidden;

  background: white;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  
  .cuisine_card {
   display: inline-block;
   // padding: 100px;
    width:  352px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin: 10px;
    border-radius: 25px;
    // background-image: url(https://pbs.twimg.com/profile_images/600006367815049218/GPTFe5f2_400x400.jpg);
    // background-size: cover;
  }
  p {
    width: 300px;
  }
  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}










