.show-page-cover {
  width: 100vw;
  height: 175px;
  object-fit: cover;
  box-shadow: 2px 1px 9px 2px rgba(0, 0, 0, 0.25);
}

.restaurant-show-container {
  width: 800px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .restaurant-show-container {
    width: 375px;
  }
}
.ask-btn {
  margin: 30px;
  display: block;
}

.message-container {
  padding: 10px;
  display: flex;
  align-items: center;
  img {
    margin-right: 10px;
  }
  p {
    margin-bottom: 0;
  }
}

.messageform form {
  display: flex;
  padding: 10px;
  
  .message_content {
    flex-grow: 1;
    
  }
  input[type=text] {
    height: 54px;
    border: 1px solid;
  }
  input[type=submit] {
    height: 54px;
    font-size: 24px;
  }
}