<h1>Welcome to all the cuisines page</h1>
<% @cuisines.each do |cuisine| %>
 <%= cuisine.name %>
 <%  if cuisine.photo.attached? %>
 	<%= cl_image_tag cuisine.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
	<% end %>

