<h1>Welcome to all the cuisines page</h1>

<%# render the list of cuisines seeded in the database using partials %>
<div class="cuisine-card-wrapper">
	<div class="cuisine_card_container">
		<% @cuisines.each do |cuisine| %>
			<%= render "cuisines/small_cuisine_card", {cuisine: cuisine} %>
		<% end  %>
	</div> 
</div>


