<h1>Welcome to a specific cuisine page</h1>
<% if current_user.cuisine_id.to_s == params[:id]%>

<h2>Restaurant list</h2> 
    <div class="horizontal-scroll">
        <% @cuisine_restaurants.each do |restaurant| %>
            <% if restaurant.upvotes.length > 1 %>
                <%= render "shared/medium_restaurant_card", {restaurant: restaurant} %>
            <% end %>
        <% end  %>
    </div>

<h2>Pending restaurant, less than 10 votes</h2> 
    <div class="horizontal-scroll">
        <% @cuisine_restaurants.each do |restaurant| %>
            <% if restaurant.upvotes.length <= 1 %>
                <%= render "shared/medium_restaurant_card", {restaurant: restaurant} %>
            <% end %>
        <% end  %>
    </div>

<% else %>
<h2>Restaurant list</h2> 
    <% @cuisine_restaurants.each do |restaurant| %>
        <% if restaurant.upvotes.length > 1 %>
            <%= render "shared/medium_restaurant_card", {restaurant: restaurant} %>
        <% end %>
    <% end  %>
<% end %>