<div class="container">
  	<% if current_user.photo.attached? %>
  	  <%= cl_image_tag current_user.photo.key, class: "avatar" %>
  	<% else %>
  	  <%= image_tag "https://media.wired.com/photos/5a13e24f63f8d15055c806fe/master/pass/hulk-still-bg.jpg", class: "profile-avatar" %>
  	<% end %>
    <p><%= user.first_name %> <%= user.last_name %></p>
</div>