<%= link_to cuisine_path(cuisine) do %>
    <div class="small-cuisine-card grow">
        <% if cuisine.photo.attached? %>
            <%= cl_image_tag cuisine.photo.key, crop: :fill %>
        <% else %>
            <img src="https://c8.alamy.com/comp/JB1G0H/food-palette-with-fresh-ingredients-including-herbs-and-spices-JB1G0H.jpg" />
        <% end %>
        <div class="small-cuisine-card-name">
            <%= cuisine.name %>
        </div>
    </div>
<% end %>
