.restaurant-show-card {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 25px;
  position: relative;
  bottom: 20px;
  height: 215px;
  h1 {
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    &a:hover {
      text-decoration: none;
    }
  }
  p, span {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }
  .restaurant-show-infos {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    padding-bottom: 10px;
  }
}

.favorite-vote {
  display: flex;
  justify-content: space-around;
  margin-top: 6px;
  span {
    margin: 8px;
  }
}

.orange-icon {
  padding-left: 16px;
  padding-top: 10px;
  img {
    margin-right: 10px;
  }
}
