<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<<<<<<< HEAD
<% @cuisines.each do |cuisine| %>
    <p><%= render "cuisines/small_cuisine_card", {cuisine: cuisine} %></p>
<% end  %>
=======
>>>>>>> master
