<div class="cuisines-banner">
	<div class="search">  
		<div class="magnifying-glass">
			<i class="fas fa-search"></i>
		</div> 
	<%= form_tag restaurants_path, method: :get do %>
		 
		    <%= text_field_tag :query,
		    params[:query],
		    class: "form-control big-border-radius",
		    placeholder: "Search for..."%>
		    <%= submit_tag "Search", class: "btn btn-primary big-border-radius d-none", id: "searchbtn" %>
	<% end %> 
	</div> 
</div>

<% @restaurants.each do |restaurant| %>
    <div class="my-3">
      <%= render "shared/medium_restaurant_card", {restaurant: restaurant} %>
    </div>
<% end %>
