.cover-banner {
  height: 300px;
  width: 100vw;
  background-image: linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url("color_palette.jpg");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.4);
  background-position: right center;
  position: relative;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}


.title {
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
  color: rgba(240, 240, 240, 0.9);
}

#title-div {

}


.cuisines-banner {
  height: 150px;
  width: 100vw;
  background-image: linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url("color_palette.jpg");
  background-size: cover;
  background-position: right center;
}

.specific-cuisine-banner {
  height: 150px;
  width: 100vw;
  background-size: cover;
  background-position: right center;
}