.cover-banner {
  height: 300px;
  width: 100vw;
  background-image: url("color_palette.jpg");
  background-size: cover;
  background-position: right center;
}

.cuisines-banner {
  height: 150px;
  width: 100vw;
  background-image: url("color_palette.jpg");
  background-size: cover;
  background-position: right center;
}