.footer {
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EBDC87;
    margin-top: 1rem;
    // position: sticky;
    // bottom: 0;
    p {
        color: black;
        margin-top: 1rem;
        font-family: 'Dancing Script', cursive;
        font-size: 30px;
    }
}