.footer {
  height: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
  margin-top: 1rem;
  p {
    color: black;
    margin-top: 1rem;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
  }
}
