.add-dish-modal {
  display: flex;
  justify-content: center;
   margin: 20px auto;
  border-radius: 20px;
  background:white;
  padding: 5px;
  height: 311px;
  width: 376px;
}

.review-modal {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  border-radius: 20px;
  background: white;
  height: 350px;
  width: 376px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  p {
    padding: 20px;
    text-align: center;
    font-size: 20px;
    color: black;
  }
  .review-area {
    height: 147px;
    width: 329px;
  }
}

.modal_restaurant_name {
  margin-top: 50px;
}

.restaurant-modal{
  display: flex;
  justify-content: center;
  margin: 20px auto;
  border-radius: 20px;
  background: white;
  height: 600px;
  width: 376px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  .modal-footer {
    justify-content: center;
  }
  h5 {
    color: #1C6E8C;
  }
}
