@media (max-width: 992px) {
  .navbar-collapse {
    position: absolute;
    top: 106px;
    left: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 100%;
    transition: all 0.4s ease;
    display: block;
  }
  .navbar-collapse.collapsing {
    height: auto !important;
    margin-left: 50%;
    left: 50%;
    transition: all 0.2s ease;
  }
  .navbar-collapse.show {
    left: 0;
    background: white;
  }
  .navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border: 0;
  }

  .nav-blur {
     background: white;
     transition: all 1s;
  }

  .navbar .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=
      ');
  }

}