.restaurant_card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: lightblue;
  border: 5px solid red;
  margin: 0 auto;
}

.restaurant_card h4 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.restaurant_card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.restaurant_card .restaurant_card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.restaurant_card-infos .restaurant_card-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
