.grow-small {
transition: 0.2s;
}

.grow-small:hover {
    transform: scale(1.05)
}

.grow {
    transition: 0.3s;
}

.grow:hover {
    transform: scale(1.1);
}


.fas {
    padding-left: 20px;
    padding-top: 20px;
}
  
.checked {
    color: orange;
}

.far {
    color: red;
}

.cards-wrapper {
    width: 100vw;
    margin: 10px;
    h3 {
        margin-bottom: -1rem;
    }
}

.horizontal-scroll {
    display: flex;
    overflow-x: scroll;
    padding: 25px;
    div {
        margin-right: 8px;
    }
}

.remove-hover-effect a:hover {
    text-decoration: none !important;
}

.button-box {
    display: flex;
    justify-content: center;
    .button {
        padding: 10px;
        margin-bottom: 25px;
        border-radius: 10px;
    }
}